{
    "resourceType": "CodeSystem",
{{> common}}
{{#caseSensitive}}
    "caseSensitive": {{{caseSensitive}}},
{{/caseSensitive}}
{{#valueSet}}
    "valueSet": "{{{valueSet}}}",
{{/valueSet}}
{{#hierarchyMeaning}}
    "hierarchyMeaning": "{{{hierarchyMeaning}}}",
{{/hierarchyMeaning}}
{{#compositional}}
    "compositional": {{{compositional}}},
{{/compositional}}
{{#versionNeeded}}
    "versionNeeded": {{{versionNeeded}}},
{{/versionNeeded}}
{{#supplements}}
    "supplements": "{{{supplements}}}",
{{/supplements}}
{{#count}}
    "count": {{{count}}},
{{/count}}
    "content": "{{content}}",
    "concept": {{{concept}}}
}
