body {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120%;
}

.required {
    color: red;
}

.radiogroup {
    display: inline-grid;
    grid-auto-flow: dense;
    align-items: center;
}

.radiogroup input[type="radio"] {
    margin-right: 5px;
}
  
.radiogroup label {
    grid-column: 2;
}

.radiogroup button {
    grid-column-start: span 2;
}
