{{#url}}
    "url": "{{{url}}}",
{{/url}}
{{#version}}
    "version": "{{{version}}}",
{{/version}}
{{#name}}
    "name": "{{{name}}}",
{{/name}}
{{#title}}
    "title": "{{{title}}}",
{{/title}}
    "status": "{{{status}}}",
{{#experimental}}
    "experimental": {{{experimental}}},
{{/experimental}}
{{#date}}
    "date": "{{{date}}}",
{{/date}}
{{#publisher}}
    "publisher": "{{{publisher}}}",
{{/publisher}}
{{#description}}
    "description": "{{{description}}}",
{{/description}}
{{#purpose}}
    "purpose": "{{{purpose}}}",
{{/purpose}}
{{#copyright}}
    "copyright": "{{{copyright}}}",
{{/copyright}}
{{#copyrightLabel}}
    "copyrightLabel": "{{{copyrightLabel}}}",
{{/copyrightLabel}}
{{#approvalDate}}
    "approvalDate": "{{{approvalDate}}}",
{{/approvalDate}}
{{#lastReviewDate}}
    "lastReviewDate": "{{{lastReviewDate}}}",
{{/lastReviewDate}}
