{
    "resourceType": "ValueSet",
{{> common}}
{{#immutable}}
    "immutable": {{{immutable}}},
{{/immutable}}
    "compose": {
        "include": [{
        {{#system}}
            "system": "{{{system}}}",
        {{/system}}
            "concept": {{{concepts}}}
        }]
    }
}
